.App{
    width: 500px;
    height: 600px;
    margin: 0;
    padding: 20px;
    background: white;
    border-radius: 2%;
    overflow-y: auto;
    overflow-x: hidden;
}

.input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.remove-icon{
    color: #e66465;
}

.todoItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.header-title p{
    font-size: 30px;
    text-align: center;
}

.App::-webkit-scrollbar {
   display:none;
  }



@media screen and (max-width: 375px){
    .App{
        width: 300px;
    }
    .header-title{
        font-size: 24px;
        
    }
}